html,body {width:100%;height:100%;-webkit-text-size-adjust:none;/* -webkit-font-smoothing: antialiased */}
body{overflow-x:hidden;min-width: 1230px;}

$header-z-index: 999;

.wrap{width: 100%;}

.header{
    position:fixed;top:0;left:0;z-index: $header-z-index;width:100%;;-webkit-transition:all .4s;transition:all .4s;background:#fff;

    .header-top{position: relative;border-bottom: 1px solid rgba(255, 255, 255, 0.2);background: #fff;min-width: 1230px;}
    .header-bottom{
        width: 100%;background: #fff;border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;overflow: hidden;position: absolute;left: 0;bottom:0;z-index: -1;transition: bottom .4s;
    }
    .logo{
        position: absolute;left: 40px;top: 50%;transform: translateY(-50%);
        .icon-logo{display:block;background-image: url('../images/lg-douzone-color.svg');width: 150px;height: 24px;}
    }
    .gnb{
        width: 100%;height: 84px;
        ul{height: 100%;display: flex;align-items: center;justify-content: center;}
        li{height: 100%;}
        a{height: 100%;font-size:20px;color:#000;display: flex;align-items: center;padding: 0 25px;}
    }
    .gnb-depth2{
        width: 100%;
        ul{display: flex;align-items: center;justify-content: center;}
        li{flex: 1 1 auto;}
        li + li{
            position: relative;
            &::before{content: '';display: block;width: 1px;height: 16px;background-color: #e5e5e5;position: absolute;left: 0;top: 50%;margin-top: -8px;}
        }
        a{height: 59px;color:#262626;display: flex;align-items: center;justify-content: center;}
    }
    .util{
        position: absolute;right: 40px;top: 50%;transform: translateY(-50%);
        > button{float:left;border:1px solid #000;border-radius:60px;width:76px;height:30px;font-size:13px;color:#000;position:relative;padding-left:16px;text-align:left;font-weight:bold}
        > button:after{position:absolute;top:50%;right:12.5px;width:16px;height:16px;content:'';background:url('../images/ic_dropdown_arr_down.png') no-repeat 50% 50%;display:block;transform:translateY(-50%)}
        > button:hover:after{background:url('../images/ic_dropdown_arr_up.png') no-repeat 50% 50%}
        > button:hover + ul{opacity:1}
        > a{float:right;background:#00aaf0;border-radius:60px;width:114px;height:30px;color:#fff;line-height:30px;font-size:13px;text-align:center;margin-left:10px}
        ul{position:absolute;background:#fff;border-radius:60px;top:57px;opacity:0}
        ul li a{color:#000}
        ul li a.active{font-weight:bold}
    }
    .allMenu{display:none}
}
html.is-scrolled {
    body:not(.body-main){
        .header-bottom{display: block;}
    }
}
html.header-hidden{
    body:not(.body-main){
        .header{transform: translateY(-86px);}
    }
}
html.depth2-show{
    body:not(.body-main){
        .header-bottom{bottom: -61px;}
    }
}
html.is-scroll-up {
    body:not(.body-main){
        .header{transform: translateY(0);}
    }
}


.footer{
    text-align: left;background: #fff;position: relative;
    .footer-top{height: 80px;border-top: 1px solid #e5e5e5;
        .container{position: relative;height: 100%;}
    }
    .footer-bottom{border-top: 1px solid #e5e5e5;padding: 38px 0 64px;}
    .footer-menu{
        display: inline-flex;height: 100%;align-items: center;
        li + li{margin-left: 47px;}
        a{color: $dark;}
    }
    .footer-family{position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: 240px;}
    .footer-logo{flex: 0 0 auto;margin-right: 54px;margin-top: 2px;}
    .footer-info{
        color: $gray;line-height: 1.67;
        .copyright{margin-top: 30px;}
    }

}

#container-block{
    margin-top: 85px;
}

.contents{}

.go-top{
    display: block;width: 60px;height: 60px;background: #272a33 url('../images/ic-arr-up-white-28.svg') no-repeat 50% 5px;
    position: fixed;right:-100px;bottom:20px;z-index: 100;transition:right .4s .3s ease-out, background-color .2s;
    html.is-scrolled &{right: 20px;}
    &:hover{background-color: #4b4e53;}
}

.object{
    [class^=shape-]{position: absolute;z-index: 0;display: inline-block;}

    .shape-intro-1{width: 656px;height: 979px;background: url('../images/img-intro-shape-01.png') no-repeat 0 100%;right: 0;bottom: 79px;}
    .shape-intro-2{width: 365px;height: 435px;background: url('../images/img-intro-shape-02.png') no-repeat 100% 0;left: 0;top: 0;}

    .shape-history-1{width: 409px;height: 979px;background: url('../images/img-history-shape-01.png') no-repeat 0 0;right: 0;top: 72px;}
    .shape-history-2{width: 578px;height: 871px;background: url('../images/img-history-shape-02.png') no-repeat 100% 0;left: 0;top: 1508px;}

    .shape-business-1{width: 235px;height: 259px;background: url('../images/img-business-shape-01.png') no-repeat 0 0;left: 0;top: 558px;}
    .shape-business-2{width: 588px;height: 874px;background: url('../images/img-business-shape-02.png') no-repeat 0 0;right: 0;bottom: -370px;}

    .shape-digital-1{width: 309px;height: 381px;background: url('../images/img-digital-shape-01.png') no-repeat 0 0;right: 0;top: -177px;}
    .shape-digital-2{width: 320px;height: 613px;background: url('../images/img-digital-shape-02.png') no-repeat 100% 0;left: 0;bottom: -327px;}

    .shape-edu-1{width: 492px;height: 492px;background: url('../images/img-edu-shape-01.png') no-repeat 0 0;right: 60px;top: -97px;}
    .shape-edu-2{width: 264px;height: 253px;background: url('../images/img-edu-shape-02.png') no-repeat 0 0;left: 71px;top: 52px;}

    .shape-ethical-1{width: 257px;height: 359px;background: url('../images/img-ethical-shape-01.png') no-repeat 0 0;right: 0;top: 836px;}
    .shape-ethical-2{width: 438px;height: 651px;background: url('../images/img-ethical-shape-02.png') no-repeat 100% 0;left: 0;bottom: -370px;}
}