.full{
    .section{position:relative;text-align: center;}
    .fp-tableCell{padding-top: 85px;}
}

#mouse-scroll {
    position: absolute;left: 50%;bottom: 120px;-webkit-transform: translateX(-50%);z-index: 9999;text-align: center;
    .mouse {
        display: inline-block;vertical-align: top;width: 28px;height: 44px;border-radius: 69px;-webkit-transform: none;-ms-transform: none;transform: none;border: 1px solid #fff;
    }
    .mouse-in {
        height: 10px;
        width: 2px;
        display: inline-block;
        margin: 9px 0 0;
        background: #fff;
        position: relative;
        -webkit-animation: animated-mouse 1.2s ease infinite;
    }
    .text{color: #fff;font-size: 11px;font-weight: 700;text-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);text-align: center;line-height: 2.36;margin-top: 4px;}
    .arr{margin-top: -2px;}
    span {
        display: inline-block;width: 10px;height: 10px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transform: rotate(45deg);
        border-right: 1px solid #fff;border-bottom: 1px solid #fff;box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    }
    .hidden {opacity:0; }
}
@-webkit-keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
         opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@-webkit-keyframes mouse-scroll {
    0% {opacity: 1;}
    50% {opacity: .5;}
    100% {opacity: 1;}
}
@keyframes mouse-scroll {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

#fp-nav{
	ul{
		li{
			margin: 12px 7px;width: 14px;height: 14px;text-align: center;
			.fp-tooltip{font-weight: 700;font-size: 12px;opacity: 0;top: 2px;letter-spacing: -0.24px;line-height: 1;}
			a{
				span{background:none;width:8px;height:8px;border:1px solid #fff;opacity:0.8;}
            }
            &:hover span,
			.active span{width:14px !important;height:14px !important;border:4px solid $primary !important;opacity:1 !important;margin: -5px 0 0 -5px !important;}
			.active + .fp-tooltip{opacity:1;width:auto}
        }
        li:last-child{opacity: 0;visibility: hidden;display: none;}
	}
}

.visual-swiper{
    height: 100%;
    .swiper-container{height: 100%;}
    .swiper-wrapper{height: 100%;}
    .swiper-slide{height: 100%;overflow: hidden;}
    .item{
        position: absolute;width: 100%;height: 100%;left: 0;top: 0;background-size: cover;background-position: center;display: flex;align-items: center;transform: scale(1);-webkit-transition: transform 5s;transition: transform 5s;
    }
    .swiper-slide-active{
        .item{transform: scale(1.08);}
    }
    .intro-wrap{
        position: absolute;left: 50%;top: 50%;margin-left: 100px;transform: translate(0,-50%);z-index: 1;
    }
    .intro{
		text-align:left;color:#fff;opacity: 0;visibility: hidden;position: absolute;left: -99999px;
		h1{
			font-size:42px;font-weight:700;letter-spacing: -1.05px;line-height:1.33;text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);margin-bottom:20px;word-break:keep-all;transform: translateY(50px);opacity: 0;
			&::before{position:absolute;top:0;left:-24px;width:20px;height:20px;display:block;border:5px solid #fff;border-radius:100%;content:''}
		}
        p{font-size:20px;text-shadow: 0 2px 10px rgba(0, 0, 0, 0.16);line-height:1.4;word-break:keep-all;margin-bottom: 2px;transform: translateY(50px);opacity: 0;}
        small{font-size: 10px;color: #fff;transform: translateY(50px);opacity: 0;}
    }
    .intro.active{
        opacity: 1;visibility: visible;position: static;
        h1{transform: translateY(0);opacity: 1;transition: all .6s .3s ease-in-out;}
        p{transform: translateY(0);opacity: 1;transition: all .6s .7s ease-in-out;}
        small{transform: translateY(0);opacity: 0.4;transition: all .5s 1.2s ease-in-out;}
    }
    .swiper-pagination{width: auto;position: static;text-align: left;margin-top: 60px;}
    .swiper-pagination-bullet{width: 140px;height: 3px;background: #fff;opacity: 0.3;border-radius: 0;margin: 0 3px;position: relative;
        &::before{content: '';display: block;width: 0;height: 100%;background: #fff;position: absolute;left: 0;top: 0;}
    }
    .swiper-pagination-bullet.active{
        opacity: 1;@include background-opacity(#fff, 0.3);
        &::before{width: 100%;transition: all 5.7s;}
    }
}
.visual-nav{
    position:absolute;bottom:0;left:0;width:100%;z-index:1;
    ul{display: flex;height: 80px;}
    li{
        width: 33.33333%;position: relative;padding: 0 0.5px;
        a{
            display: flex;justify-content: center;align-items: flex-start;flex-direction: column;padding:0 30px;height: 100%;color:#fff;background: rgba(0,0,0,0.26);
            &::before{content: '';display: block;width: 100%;height: 100%;background:linear-gradient(107deg, #00a4ed 10%, #1471ef 89%);position: absolute;left: 0;top: 0;opacity: 0;transition: all .4s;}
        }
        strong{font-size:18px;position: relative;z-index: 1;margin-bottom: 7px;}
        span{font-size:12px;opacity:0.5;position: relative;z-index: 1;}
        &.active a::before{opacity: 1;}
    }
}

.main-title{
    display: inline-block;font-size:40px;color:#fff;font-weight:700;letter-spacing:-1.8px;line-height:1.475;margin-bottom: 7px;position: relative;z-index: 1;
    &::before{width:18px;height:18px;border:5px solid $primary;display:block;position:absolute;top:0;left:-20px;content:'';border-radius:100% 100%}
}
.main-desc{
    color: rgba(255,255,255,0.5);font-size: 20px;position: relative;z-index: 1;transform: translateY(40px);opacity: 0;
}

.sec2{
    background:url('../images/img_main_business.png') no-repeat 50% 50%;background-size:cover;
    .fp-tableCell{padding-bottom: 450px;}
}
.sec3{background:#f8f9fa}
.sec4{background:url('../images/img_main_media.png') no-repeat 50% 50%;background-size:cover}

.main-business-line{
    width:100%;height:100%;overflow:hidden;position: absolute;left: 0;top: 0;display: flex;
    > li{display: table;position:relative;width:33.3333%;height:100%;padding-top:85px;box-sizing:border-box}
    > li:before{display:block;content:'';width:100%;height:100%;opacity:0.55;position:absolute;top:0;left:0}
    > li:hover:before{background:#060d1a}
    > li + li:after{content:'';display:block;width:1px;height:100%;opacity:0.2;background:#fff;position:absolute;top:0;left:0}
    dl{
        display:table-cell;vertical-align:middle;height:100%;position:relative;-webkit-transition:transform 1s;transition:transform 1s;transform:translateY(200px);
        dt{font-weight:bold;color:#fff;font-size:36px;letter-spacing:-1px;line-height:54px;text-align:center;position:relative;margin-bottom:50px}
        dt:after{position:absolute;left:50%;bottom:-20px;width:20px;height:3px;background:#fff;display:block;content:'';transform:translateX(-50%)}
        dd{text-align:center;color:#fff;min-height: 363px;}
        dd p{color:#fff;font-size:20px;line-height:28px;letter-spacing:-0.5px}
        dd ul{text-align:center;margin:40px auto 0;font-size:0;line-height:0;}
        dd ul li{display:inline-block;vertical-align:middle;color:#fff;padding:0 18px;position:relative;margin:10px 0 0 6px;font-size:16px;height:32px;line-height:30px;background-color: rgba(255,255,255,0.14);border-radius: 50px;}
        dd ul li:before{content:'#';margin-right:2px}
        dd li,
        .btn{opacity:0;-webkit-transition:all 0.7s;transition:all 0.7s;margin-top: 80px;}
    }
    > li:hover dl{transform:translateY(100px);}
    > li:hover dt{margin-top:0}
    > li:hover li,
    > li:hover dl .btn{opacity:1;transition-delay:0.2s;color: #fff;}
}

.management-swiper{
    margin-top: 60px;
    .item{position: relative;padding-bottom: 25px;opacity:0.5;}
    .img img{vertical-align:top;width:100%;height:100%}
    .box{position:absolute;bottom:0;right:24px;}
    .txt{
        background:linear-gradient(140deg, #00a4ed 2%, #1471ef 99%);box-shadow: 10px 10px 30px 0 rgba(3, 4, 5, 0.2);width: 384px;height: 300px;opacity:0;padding:36px 44px;text-align:left;
        strong{font-weight:500;font-size:24px;line-height:41px;word-break:keep-all;width:100%;overflow:hidden;height:41px;color:#fff}
        p:before{position:absolute;top:-20px;left:0;width:40px;height:3px;background:#fff;display:block;content:''}
        p{font-size:18px;line-height:28px;color:#fff;position:relative;margin-top:40px;line-height: 1.56;}
    }

    .swiper-button-prev-management{position:absolute;top:50%;left:50%;margin-top: -72px;transform:translateX(-600px);width:72px;height:72px;background:url('../images/ic-arr-left-normal-gray-72.svg') no-repeat 0 0;font-size:0;font-size:0;display:block}
    .swiper-button-next-management{position:absolute;top:50%;left:50%;margin-top: -72px;transform:translateX(528px);width:72px;height:72px;background:url('../images/ic-arr-right-normal-gray-72.svg') no-repeat 0 0;font-size:0;line-height:0;display:block}
    .swiper-button-prev-management::after,
    .swiper-button-next-management::after{display: none;}

    .swiper-slide{width:1044px !important;height: 520px !important;}

    .swiper-slide-active{
        .item{opacity:1;-webkit-transition:opacity 0.8s;transition:opacity 0.8s;}
        .txt{opacity:1;-webkit-transition:opacity 0.8s;transition:opacity 0.8s;}
    }

    .swiper-pagination{text-align: center;width: 100%;position: static;margin-top: 58px;line-height: 1;}
    .swiper-pagination-bullet-management{width: 12px;height: 12px;background: #cdcdcd;opacity: 1;margin: 0 5px;border-radius: 0;vertical-align: top;}
    .swiper-pagination-bullet-management-active{background: $primary;}
}

.main-stock{
    margin-top: 50px;background: rgba(0,0,0,0.35);color: #fff;
    .row{height: 90px;}
    [class^=col]{
        padding-left: 48px;padding-right: 48px;display: flex;justify-content: space-between;align-items: center;position: relative;
        &::before{content: '';display: block;width: 1px;height: 16px;background: rgba(255,255,255,0.2);position: absolute;left: 0;top: 50%;margin-top: -8px;}
        &:first-of-type::before{display: none;}
    }
    .label{font-size: 18px;}
    strong{font-size: 24px;font-weight: 700;letter-spacing: 0;}
    i{font-size: 14px;margin-left: 6px;}
    em{font-size: 18px;font-weight: 700;}
}

.main-media{
    margin-top:20px;
    ul{display: flex;margin-left: -12px;margin-right: -12px;}
    li{max-width: 33.33333%;flex: 0 0 33.3333%;padding-left: 12px;padding-right: 12px;}
    a{display:block}
    .thumb{display:block;width:100%;height:230px;overflow:hidden}
    .thumb img{width:100%;height:100%;vertical-align:top;transition: all 1.5s ease-out;}
    .txt{
        display:block;box-shadow:10px 10px 30px 0 rgba(3, 4, 5, 0.2);text-align:left;padding:24px 32px;height:170px;background:#3a3d47;position: relative;
        &::before{content: '';display: block;position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: linear-gradient(124deg, #00a4ed 6%, #1471ef 93%);opacity: 0;transition: all .3s ease-in-out;}
        strong{color:#00aaf0;font-size:16px;line-height:24px;display:block;margin-bottom:4px;font-weight:400;position: relative;z-index: 1;}
        span{color:#fff;font-size:18px;line-height:1.44;word-break:keep-all;font-weight:500;position: relative;z-index: 1;}
    }
    a:focus,
    a:hover{
        .txt{
            &::before{opacity: 1;}
            strong{color:#fff}
        }
        .thumb img{transform: scale(1.04);}
    }
    .btn{margin:40px auto 0;}
}

body.body-main{
    .header{
        background:transparent;transform: translateY(0) !important;
        .header-top{background: transparent;}
        .header-bottom{display: none !important;}
        .logo .icon-logo{background-image:url('../images/lg-douzone-white.svg');}
        .gnb li a{color:#fff}
        .util > a{background:#fff;color:#000}
        .util > button{border-color:#fff;color:#fff}
        .util > button:after{background:url('../images/ic_dropdown_arr_down_white.png') no-repeat 50% 50%}
        .util > button:hover:after{background:url('../images/ic_dropdown_arr_up_white.png') no-repeat 50% 50%}
    }
}
body.fp-viewing-section1{
    .fp-tableCell{padding-top: 0;}
}

body.fp-viewing-section3{
    .header{
        background:#fff;
        .logo .icon-logo{background-image:url('../images/lg-douzone-color.svg');}
        .gnb ul li a{color:#000}
        .util > button{border-color:#000;color:#000}
        .util > button:after{background:url('../images/ic_dropdown_arr_down.png') no-repeat 50% 50%;}
        .util > button:hover:after{background:url('../images/ic_dropdown_arr_up.png') no-repeat 50% 50%;}
        .util > a{background:#00aaf0;color:#fff}
    }
    .main-title{color:#000;}
    .main-desc{color:rgba(0,0,0,0.5);}
    #fp-nav ul li .fp-tooltip{color:#000}
    #fp-nav ul li a span{border: 1px solid #000;opacity: 0.2;}
}

body.fp-viewing-section5{
    .header{transform: translateY(-100px) !important;}
    .fp-tableCell{padding-top: 0;}
}

body.body-main #container-block{margin-top: 0;}


.main-title{transform: translateY(40px);opacity: 0;}
.main-desc{transform: translateY(40px);opacity: 0;}
.in{
    .main-title{transform: translateY(0);opacity: 1;transition: transform .5s .3s ease-in-out, opacity .5s .3s ease-in-out, color .1s .2s;}
    .main-desc{transform: translateY(0);opacity: 1;transition: transform .5s .6s ease-in-out, opacity .5s .6s ease-in-out, color .1s .2s; }
}

.main-business-line dt{transform: translateY(40px);opacity: 0;}
.main-business-line dd{transform: translateY(40px);opacity: 0;}
.in{
    .main-business-line dt{transform: translateY(0);opacity: 1;transition: all .5s 1s ease-in-out;}
    .main-business-line dd{transform: translateY(0);opacity: 1;transition: all .5s 1.3s ease-in-out;}
}

.management-swiper{transform: translateY(40px);opacity: 0;}
.management-swiper .swiper-slide{transform: translateY(40px);opacity: 0;}
.management-swiper .swiper-slide-active .box{transform: translateY(40px);opacity: 0;}
.in{
    .management-swiper{transform: translateY(0);opacity: 1;transition: all .5s 1s ease-in-out;}
    .management-swiper .swiper-slide{transform: translateY(0);opacity: 1;transition: all .5s 1s ease-in-out;}
    .management-swiper .swiper-slide[data-swiper-slide-index="1"]{transition-delay: 1.6s;}
    .management-swiper .swiper-slide[data-swiper-slide-index="2"]{transition-delay: 1.8s;}
    .management-swiper .swiper-slide[data-swiper-slide-index="3"]{transition-delay: 1.3s;}
    .management-swiper .swiper-slide-active .box{transform: translateY(0);opacity: 1;transition: all .5s 2s ease-in-out;}
}

.main-stock{transform: translateY(40px);opacity: 0;}
.main-media li{transform: translateY(40px);opacity: 0;}
.main-media .btn{transform: translateY(40px);opacity: 0;}
.in{
    .main-stock{transform: translateY(0);opacity: 1;transition: all .5s 1s ease-in-out;}
    .main-media li{transform: translateY(0);opacity: 1;transition: all .5s 1.3s ease-in-out;}
    .main-media li:nth-child(2){transition-delay: 1.6s;}
    .main-media li:nth-child(3){transition-delay: 1.9s;}
    .main-media .btn{transform: translateY(0);opacity: 1;transition: all .5s 2.2s ease-in-out;}
}
